@import 'colors.css';
@import 'z-index.css';

.select-area {
  position: absolute;

  height: 100%;
  z-index: var(--z-index-1);
}

.select-area__background {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--color-selection);

  opacity: .4;
}

.select-area__edge {
  position: absolute;

  width: 5px;
  height: 100%;

  background-color: var(--color-selection-dark);

  cursor: move;
}

.select-area--movable {
  cursor: move;
}

.select-area__edge--right {
  right: 0;
}

.select-area__background--current {
  background-color: var(--color-secondary)
}

.select-area--layer-2 {
  z-index: var(--z-index-2);
}