:root {
  --color-blank: #fff;
  --color-dark: #212121;
  --color-light-dark: #424242;
  --color-primary: #795548;
  --color-primary-dark: #5d4037;
  --color-primary-light: #d7ccc8;
  --color-secondary: #00e676;
  --color-secondary-light: #b9f6ca;
  --color-shadow: #3e2723;
  --color-selection: #2196f3;
  --color-selection-dark: #1976d2;
}
