@import 'colors.css';

:root {
  /**
    *  Family
    */
  --font-family-default: 'sans-serif';
  --font-family-display-4: 'Roboto-Light', var(--font-family-default);
  --font-family-display-3: 'Roboto-Regular', var(--font-family-default);
  --font-family-display-2: 'Roboto-Regular', var(--font-family-default);
  --font-family-display-1: 'Roboto-Regular', var(--font-family-default);
  --font-family-headline: 'Roboto-Regular', var(--font-family-default);
  --font-family-title: 'Roboto-Medium', var(--font-family-default);
  --font-family-subhead: 'Roboto-Regular', var(--font-family-default);
  --font-family-body-2: 'Roboto-Medium', var(--font-family-default);
  --font-family-body-1: 'Roboto-Regular', var(--font-family-default);
  --font-family-caption: 'Roboto-Regular', var(--font-family-default);
  --font-family-button: 'Roboto-Medium', var(--font-family-default);
  /**
    *  Sizes
    */
  --font-size-display-4: 112px;
  --font-size-display-3: 56px;
  --font-size-display-2: 45px;
  --font-size-display-1: 34px;
  --font-size-headline: 24px;
  --font-size-title: 20px;
  --font-size-subhead: 16px;
  --font-size-body-2: 14px;
  --font-size-body-1: 14px;
  --font-size-caption: 12px;
  --font-size-button: 14px;
  /**
    *  Colors
    */
  --font-color-display-4: #727272;
  --font-color-display-3: #727272;
  --font-color-display-2: #727272;
  --font-color-display-1: #727272;
  --font-color-headline: #212121;
  --font-color-title: #212121;
  --font-color-subhead: #212121;
  --font-color-body-2: #212121;
  --font-color-body-1: #212121;
  --font-color-caption: #727272;
  --font-color-button: #212121;
}

@define-mixin font-display-4 {
  color: var(--font-color-display-4);

  font-family: var(--font-family-display-4);
  font-size: var(--font-size-display-4);
}

@define-mixin font-display-3 {
  color: var(--font-color-display-3);

  font-family: var(--font-family-display-3);
  font-size: var(--font-size-display-3);
}

@define-mixin font-display-2 {
  color: var(--font-color-display-2);

  font-family: var(--font-family-display-2);
  font-size: var(--font-size-display-2);
}

@define-mixin font-display-1 {
  color: var(--font-color-display-1);

  font-family: var(--font-family-display-1);
  font-size: var(--font-size-display-1);
}

@define-mixin font-headline-noColor {
  font-family: var(--font-family-headline);
  font-size: var(--font-size-headline);
}

@define-mixin font-headline {
  color: var(--font-color-headline);

  @mixin font-headline-noColor;
}

@define-mixin font-title {
  color: var(--font-color-title);

  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
}

@define-mixin font-subhead {
  color: var(--font-color-subhead);

  font-family: var(--font-family-subhead);
  font-size: var(--font-size-subhead);
}

@define-mixin font-body-2 {
  color: var(--font-color-body-2);

  font-family: var(--font-family-body-2);
  font-size: var(--font-size-body-2);
}

@define-mixin font-body-1 {
  color: var(--font-color-body-1);

  font-family: var(--font-family-body-1);
  font-size: var(--font-size-body-1);
}

@define-mixin font-caption {
  color: var(--font-color-caption);

  font-family: var(--font-family-caption);
  font-size: var(--font-size-caption);
}

@define-mixin font-button {
  color: var(--font-color-button);

  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  text-transform: uppercase;
}

@define-mixin font-button-filled {
  color: var(--color-blank);

  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  text-transform: uppercase;
}
