@import 'sizes.css';
@import 'fonts.css';
@import 'colors.css';

:root {
  --edge-border: 2px solid var(--color-dark);
}

.scale-slider {
  position: relative;

  display: block;
  width: 100%;
  height: calc(var(--height-timeline) / 4);
  margin-bottom: 15px;
  border-right: var(--edge-border);
  border-bottom: 1px solid var(--color-dark);
  border-left: var(--edge-border);
  overflow: hidden;
}

.scale-slider__edge {
  position: absolute;
  top: 0;
  left: 5px;
  @mixin font-caption;
}

.scale-slider__edge--right {
  right: 5px;
  left: auto;
}
