@import 'sizes.css';
@import 'fonts.css';
@import 'colors.css';

:root {
  --edge-border: 2px solid var(--color-dark);
}

.date-slider {
  position: relative;

  display: block;
  width: 100%;
  height: var(--height-timeline);
  border-right: var(--edge-border);
  border-bottom: 1px solid var(--color-dark);
  border-left: var(--edge-border);
  overflow: hidden;
}

.date-slider__edge {
  position: absolute;
  top: 0;
  left: 5px;
  @mixin font-body-2;
}

.date-slider__edge--right {
  right: 5px;
  left: auto;
}
