@import 'sizes.css';
@import 'fonts.css';
@import 'colors.css';

:root {
  /**
   * We add an additional value to the height that a text not to touch the edges
   */
  --margin-additional: 4px;
  --height-segment: calc(
  var(--font-size-caption) +
  var(--margin-additional)
  );
  /**
   * To put a segment to the bottom of the slider we need to calc
   * an empty space between a segment and top of the slider
   */
  --indent-top: calc(
  var(--height-timeline) -
  var(--height-segment)
  );
}

.scale-segment {
  margin-top: var(--indent-top);
  padding-right: 5px;
  border-right: 1px solid var(--color-light-dark);
  float: left;

  line-height: var(--height-segment);
  text-align: right;
  @mixin font-caption;
}
